<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <title>Khaleel Gibran</title>
    <meta name="title" content="Blog - Khaleel Gibran">
    <meta name="description" content="The official (officially official, no more questions) personal website of a 13-year-old. Know more about me, my hobbies and my famous (wink, wink!) web projects.">
    <meta name="keywords" content="khaleelgibran, khaleel gibran, khalby786, thirteen year old, coder, webdev, khaleel">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/bc53dfcf-1654-4a52-ac14-f81149d0cd4b%2Fdonut_white_transparent.png?v=1573727088695" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://khaleelgibran.com/blog/">
    <meta property="og:title" content="Khaleel Gibran">
    <meta property="og:description" content="The official (officially official, no more questions) personal website of a 13-year-old. Know more about me, my hobbies and my famous (wink, wink!) web projects.">
    <meta property="og:image" content="https://cdn.glitch.com/b2f03a5f-edac-4c67-87ab-3d2e27db6053%2FKhaleel%20s%20Blog.png?v=1588398268524">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://khaleelgibran.com/">
    <meta property="twitter:title" content="Khaleel Gibran">
    <meta property="twitter:description" content="The official (officially official, no more questions) personal website of a 13-year-old. Know more about me, my hobbies and my famous (wink, wink!) web projects.">
    <meta property="twitter:image" content="https://cdn.glitch.com/b2f03a5f-edac-4c67-87ab-3d2e27db6053%2FKhaleel%20s%20Blog.png?v=1588398268524">

    <link rel="stylesheet" href="/blog.css" />
    <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  </head>
  <body>
    <div id="nav">
      <a href="/" class="nav-a">
        <button class="nav-button">
          HOME
        </button>
      </a>
      <a href="/#projects" class="nav-a">
        <button class="nav-button">
          PROJECTS
        </button>
      </a>
      <a href="/#whoami" class="nav-a">
        <button class="nav-button">
          ABOUT
        </button>
      </a>
      <a href="/contact" class="nav-a">
        <button class="nav-button">
          CONTACT
        </button>
      </a>
      <a href="/blog" class="nav-a">
        <button class="nav-button">
          BLOG
        </button>
      </a>
      <a href="https://twitter.com/khalby786" class="nav-a"><img id="twitter" src="https://cdn.glitch.com/b2f03a5f-edac-4c67-87ab-3d2e27db6053%2FTwitter_Social_Icon_Circle_Color.svg?v=1588779773023"></a>
    </div>
    
    <h1 style="position:relative;top:100px;margin-left:15%;margin-right:15%;">
      My blog.
    </h1>
    
    <br /><br />
    
    <p style="margin-left:15%;margin-right:15%;font-size:25px">
      My officially official blog. Yeah, I write a blog. But once in a blue moon. Because I'm too lazy.
    </p>
    
    <center>
      <img src="https://cdn.glitch.com/b2f03a5f-edac-4c67-87ab-3d2e27db6053%2Fundraw_blog_anyj.svg?v=1589375869025" style="width:25% !important;">
    </center>
    
    <div id="blog">
      <% for (post of posts) { %>
        <a href="/blog/<%= post.slice(0, -3) %>">
          <div class="post">
            <%= post.toUpperCase() %>  
          </div>
        </a>
      <% } %>
    </div>
    
    <br /><br /><br /><br /><br />
    
    <p style = "text-align: center;" class="foot">
      Made with <i class="icon ion-heart"></i>, my laptop, Glitch, HTML, CSS, JavaScript, yadda yadda yadda by me.
  </p>
    </body>
</html>