<!DOCTYPE html>
<html lang="en">

  <body>
   
    
    <h1 style="position:relative;top:100px;margin-left:15%;margin-right:15%;">
      My blog.
    </h1>
    
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <p style="margin-left:15%;margin-right:15%;font-size:25px">
      My officially official blog. Yeah, I write a blog. But once in a blue moon. Because I'm too lazy.
    </p>
    </br>

    <center>
      <img src="https://cdn.glitch.com/b2f03a5f-edac-4c67-87ab-3d2e27db6053%2Fundraw_blog_anyj.svg?v=1589375869025" style="width:25% !important;">
    </center>
    
  
     <a href="/users/login" style =" position: absolute;top: 10px;right: 10px;">
        <button style = "background-color: black;color: white;border: 2px solid #555555;">Login</button>
     </a>
        
    </body>
</html>
